// General colors

$color-white: #FFF;
$color-black: #000;

$color-1: $color-white;
$color-2: #515151;

$base-00: #2C3E50;
$base-01: #34495E;
$base-02: #7F8C8D;
$base-03: #95A5A6;
$base-04: #BDC3C7;
$base-05: #e0e0e0;
$base-06: #f5f5f5;
$base-07: #ECF0F1;
$base-08: #E74C3C;
$base-09: #E67E22;
$base-0A: #F1C40F;
$base-0B: #2ECC71;
$base-0C: #1ABC9C;
$base-0D: #3498DB;
$base-0E: #9B59B6;
$base-0F: #be643c;

$links-color: $base-08;

// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:400italic,700italic,400,700);
$primary-font: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
